@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.red{
  font-size: xx-small;
  color: red;
}

.cardName{
  font-size: xx-small;
}

.disabled-navbar {
  pointer-events: none;
  opacity: 0.6;
  filter: grayscale(0.5);
}

.pastelred{
  color: #FFA6A1
}

.pastelgreen{
  color:#AAEAAA
}

.recapCards{
  height: 350px !important;
}